<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Transactions</title>
  </head>
  <body>
    <title>Research Data Download</title>
    <form action="/transactions" method="POST">
      <label for="date">Date:</label>
      <select name="date" id="date">
        <option value="">--------------</option>
        {% for date in dates %}
        <option value="{{ date[0] }}">{{ date[0] }}</option>
        {% endfor %}
      </select>

      <label for="time">Time:</label>
      <select name="time" id="time">
        <option value="">--------------</option>
      </select>

      <label for="empId">Employee ID:</label>
      <select name="empId" id="empId">
        <option value="">--------------</option>
      </select>

      <input type="hidden" name="hempId" id="hempId" value="">
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    <script>
      // When the date is changed, make an AJAX request to get the available times for the selected date
      document.getElementById('date').addEventListener('change', function() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/get_times?date=' + this.value);
        xhr.onload = function() {
          if (xhr.status === 200) {
            // Parse the response as JSON
            var response = JSON.parse(xhr.responseText);

            // Replace the current options in the time select with the options returned from the server
            var timeSelect = document.getElementById('time');
            timeSelect.innerHTML = '<option value="">--------------</option>';
            for (var i = 0; i < response.times.length; i++) {
              timeSelect.innerHTML += '<option value="' + response.times[i][0] + '">' + response.times[i][0] + '</option>';
            }
          }
        };
        xhr.send();
      });

      // When the time is changed, make an AJAX request to get the available employee IDs for the selected time
      document.getElementById('time').addEventListener('change', function() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/get_empIds?date=' + document.getElementById('date').value + '&time=' + this.value);
        xhr.onload = function() {
          if (xhr.status === 200) {
            // Parse the response as JSON
            var response = JSON.parse(xhr.responseText);

            // Replace the current options in the employee ID select with the options returned from the server
            var empIdSelect = document.getElementById('empId');
            empIdSelect.innerHTML = '<option value="">--------------</option>';
            for (var i = 0; i < response.empIds.length; i++) {
              empIdSelect.innerHTML += '<option value="' + response.empIds[i][0] + '">' + response.empIds[i][0] + '</option>';
            }
          }
        };
        xhr.send();
      });

      document.getElementById('empId').addEventListener('change', function() {
        document.getElementById('hempId').value = this.value;
      });

    </script>
  </body>
</html>
