<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  {% load static %}
  <title>顯示所有資料</title>

</head>

<body>
  <style>
    .fixed-section {
      /* position: -webkit-sticky; */
      position: sticky;
      top: 0;
      /* z-index: 1000;*/
      background-color: white;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/designIndex/">首頁</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-light my-2 my-sm-0" id="{{CompareSpec.cNumber}}"
                onclick="compare(event)">新增</button>
            </li>
          </ul>

          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-warning my-2 my-sm-0" id="{{firstname}}" onclick="perosonIndex(event)">待簽
                <!-- {% if allpersonCount != 0 %}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{allpersonCount}}
                  </span>
                {% endif %} -->
              </button>
            </li>
          </ul>
          {% if username == "admin" %}
          <li class="nav-item active">
            <a class="nav-link" href="/admin/">管理人員 <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              其他表單
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/signallIndex/">簽呈資料</a>
              <a class="dropdown-item" href="/meetingallIndex/">會議記錄資料</a>
              <a class="dropdown-item" href="/contactallIndex/">內部連絡單資料</a>
              <a class="dropdown-item" href="/contractallIndex/">工程發包議價記錄單</a>
              <a class="dropdown-item" href="/changeallIndex/">設計變更通知單</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name='q' type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-2">
          <li class="nav-item active">
            <a class="nav-link disabled" style="color: green;">{{firstname}} <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-2">
          <li class="nav-item">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="Logout(event)">登出</button>
          </li>
        </ul>

      </div>
    </div>
  </nav>



  <div class="container fixed-section">
    <div class="row">
      <h2 class="mt-2">資料表新增</h2>
    </div>
    <p style="color:red; font-weight: bold; font-size: larger;">{{message}}</p>
    {% if special != "123" %}
    <div class="card text-center ">
      <div class="card-header text-primary" style="font-weight: bold; font-size: larger;">{{special.cClient}}</div>
      <div class="card-body">
        <h5 class="card-title text-primary" style="font-weight: bold; font-size: larger;">特殊規格</h5>
        <p class="card-text">{{special.cSpecial}}</p>
        <h5 class="card-title text-primary" style="font-weight: bold; font-size: larger;">品牌指定</h5>
        <p class="card-text">{{special.cBrand}}</p>
      </div>
    </div>
    {% endif %}
  </div>




  <form action="." method="post" name="form1" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <table class="table">
          <tr>
            <th colspan="2">設備名稱</th>
            <td colspan="3">{{orderBOMForm.machinename}}</td>
          </tr>
          <tr>
            <th colspan="5">一、箱體材質：{{orderBOMForm.first_boxmaterial}}</th>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>內板厚度：</th>
            <td>{{orderBOMForm.first_inthick}}</td>
            <th>內板材質：</th>
            <td>{{orderBOMForm.first_inmaterial}}</td>
            <th>螺絲配件：</th>
            <td>{{orderBOMForm.first_inother}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>外板厚度：</th>
            <td>{{orderBOMForm.first_outthick}}</td>
            <th>外板材質：</th>
            <td>{{orderBOMForm.first_outmaterial}}</td>
            <th>箱板材質：</th>
            <td>{{orderBOMForm.first_boxthick}}</td>
          </tr>
          <tr>
            <th colspan="10"> 二、維修門及箱體框架型式：</th>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>維修門方式：</th>
            <td>{{orderBOMForm.second_door}}</td>
            <th>箱體框架型式：</th>
            <td>{{orderBOMForm.second_frame}}</td>
          </tr>
          <tr>
            <th colspan="2">三、濾網：</th>
          </tr>
          <tr>
            <th colspan="2">1.初級濾網：</th>
            <td colspan="3">{{orderBOMForm.third_basic}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>安裝方式：</th>
            <td>{{orderBOMForm.third_basic_install}}</td>
            <th>厚度：</th>
            <td>{{orderBOMForm.third_basic_thick}}</td>
            <th>廠牌：</th>
            <td>{{orderBOMForm.third_basic_brand}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>濾網框：</th>
            <td>{{orderBOMForm.third_basic_frame}}</td>
            <th>效率：</th>
            <td>{{orderBOMForm.third_basic_efficient}}&nbsp;比色法</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>濾材材質：</th>
            <td>{{orderBOMForm.third_basic_material}}</td>
          </tr>
          <tr>
            <th colspan="2">2.中級濾網：</th>
            <td colspan="3">{{orderBOMForm.third_medium}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>外框型式：</th>
            <td>{{orderBOMForm.third_medium_frameform}}</td>
            <th>袋長：</th>
            <td>{{orderBOMForm.third_medium_long}}</td>
            <th>廠牌：</th>
            <td>{{orderBOMForm.third_medium_brand}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>濾網框：</th>
            <td>{{orderBOMForm.third_medium_frame}}</td>
            <th>效率：</th>
            <td>{{orderBOMForm.third_medium_efficient}}&nbsp;比色法</td>
          </tr>
          <tr>
            <th colspan="2">3.高級濾網：</th>
            <td colspan="3">{{orderBOMForm.third_high}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>外框型式：</th>
            <td>{{orderBOMForm.third_high_frameform}}</td>
            <th>長度：</th>
            <td>{{orderBOMForm.third_high_long}}</td>
            <th>廠牌：</th>
            <td>{{orderBOMForm.third_high_brand}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>濾網框：</th>
            <td>{{orderBOMForm.third_high_frame}}</td>
            <th>效率：</th>
            <td>{{orderBOMForm.third_high_efficient}}&nbsp;D.O.P.</td>

          </tr>
          <tr>
          <tr>
            <th></th>
            <th colspan="2">初中級框架材質：</th>
            <td>{{orderBOMForm.third_basic_medium_material}}</td>
            <th>高效框架材質：</th>
            <td>{{orderBOMForm.third_high_material}}</td>
          </tr>
          </tr>
          <tr>
            <th colspan="2">四、電熱器：</th>
            <td colspan="3">{{orderBOMForm.four_heater}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>SSCR控制：</th>
            <td>{{orderBOMForm.four_SSCR}}</td>
            <th>分段方式：</th>
            <td>{{orderBOMForm.four_way}}</td>
            <th>框架材質：</th>
            <td>{{orderBOMForm.four_material}}</td>
          </tr>
          <tr>
            <th colspan="2">五、加熱器：</th>
            <td colspan="2">{{orderBOMForm.fiv_humidifier}}</td>
            <th>型式：</th>
            <td colspan="3">{{orderBOMForm.fiv_form}}</td>
          </tr>
          <tr>
            <th colspan="2">六、風門：</th>
            <td colspan="3">{{orderBOMForm.six_winddoor}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>型式：</th>
            <td>{{orderBOMForm.six_form}}</td>
            <th>邊框材質：</th>
            <td>{{orderBOMForm.six_frame_material}}</td>
            <th>葉片材質：</th>
            <td>{{orderBOMForm.six_blade_material}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>軸心：</th>
            <td>{{orderBOMForm.six_axis}}</td>

          </tr>
          <tr>
            <th colspan="2">七、盤管：</th>
          </tr>
          <tr>
            <th colspan="2">1.冰水盤管</th>
            <td colspan="3">{{orderBOMForm.seven_cold}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>鰭片：</th>
            <td>{{orderBOMForm.seven_fins}}</td>
            <th>厚度：</th>
            <td>{{orderBOMForm.seven_thick}}</td>
            <th>端側板：</th>
            <td>{{orderBOMForm.seven_board}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>銅管厚度：</th>
            <td>{{orderBOMForm.seven_pipe_thick}}</td>
            <th>集水管：</th>
            <td>{{orderBOMForm.seven_waterpipe}}</td>
            <th>銅管管徑：</th>
            <td>{{orderBOMForm.seven_size}}</td>
          </tr>
          <tr>
            <th colspan="2">2.熱水盤管</th>
            <td colspan="3">{{orderBOMForm.seven_hot}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>鰭片：</th>
            <td>{{orderBOMForm.seven_hotfins}}</td>
            <th>厚度：</th>
            <td>{{orderBOMForm.seven_hotthick}}</td>
            <th>端側板：</th>
            <td>{{orderBOMForm.seven_hotboard}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>銅管厚度：</th>
            <td>{{orderBOMForm.seven_hotpipe_thick}}</td>
            <th>集水管：</th>
            <td>{{orderBOMForm.seven_hotwaterpipe}}</td>
            <th>銅管管徑：</th>
            <td>{{orderBOMForm.seven_hotsize}}</td>
          </tr>
          <tr>
            <th colspan="2">3.蒸氣盤管</th>
            <td colspan="3">{{orderBOMForm.seven_steam}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>鰭片：</th>
            <td>{{orderBOMForm.seven_steamfins}}</td>
            <th>厚度：</th>
            <td>{{orderBOMForm.seven_steamthick}}</td>
            <th>端側板：</th>
            <td>{{orderBOMForm.seven_steamboard}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>銅管厚度：</th>
            <td>{{orderBOMForm.seven_steampipe_thick}}</td>
            <th>集水管：</th>
            <td>{{orderBOMForm.seven_steamwaterpipe}}</td>
            <th>銅管管徑：</th>
            <td>{{orderBOMForm.seven_steamsize}}</td>
          </tr>
          <tr>
            <th colspan="2">4.鹵水盤管</th>
            <td colspan="3">{{orderBOMForm.seven_brine}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>鰭片：</th>
            <td>{{orderBOMForm.seven_brinefins}}</td>
            <th>厚度：</th>
            <td>{{orderBOMForm.seven_brinethick}}</td>
            <th>端側板：</th>
            <td>{{orderBOMForm.seven_brineboard}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>銅管厚度：</th>
            <td>{{orderBOMForm.seven_brinepipe_thick}}</td>
            <th>集水管：</th>
            <td>{{orderBOMForm.seven_brinewaterpipe}}</td>
            <th>銅管管徑：</th>
            <td>{{orderBOMForm.seven_brinesize}}</td>
          </tr>

          <tr>
            <th colspan="2">其他要求：</th>
            <td colspan="7">
              <input type="checkbox" value="無" class="check_box_list7" />無
              <input type="checkbox" value="風車" class="check_box_list7" />鰭片鍍錫
              <input type="checkbox" value="盤管" class="check_box_list7" />持壓進場
              <input type="checkbox" value="電熱器" class="check_box_list7" />附法蘭
              <input type="checkbox" value="加濕器" class="check_box_list7" />epoxy塗裝
            </td>
          </tr>
          <tr>
            <th colspan="2">八、排水盤：</th>
            <th>材質：</th>
            <td>{{orderBOMForm.eight_material}}</td>
            <th>厚度：</th>
            <td>{{orderBOMForm.eight_thick}}</td>
          </tr>
          <tr>
            <th colspan="2">九、風車：</th>
            <th>廠牌：</th>
            <td>{{orderBOMForm.nine_brand}}</td>
            <th>傳動方式：</th>
            <td>{{orderBOMForm.nine_way}}</td>
            <th>葉片型式：</th>
            <td>{{orderBOMForm.nine_form}}</td>
          </tr>
          <tr>
            <th colspan="2">十、馬達：</th>
            <th>廠牌：</th>
            <td>{{orderBOMForm.ten_motor_brand}}</td>
            <th>絕緣等級：</th>
            <td>{{orderBOMForm.ten_motor_Insulation}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>馬達電源：</th>
            <td>{{orderBOMForm.ten_motor_elec}}</td>
            <th>馬達效率：</th>
            <td>{{orderBOMForm.ten_motor_efficient}}</td>
            <th>防護等級：</th>
            <td>{{orderBOMForm.ten_motor_level}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>啟動方式：</th>
            <td>{{orderBOMForm.ten_motor_open}}</td>
            <th>冷卻方式：</th>
            <td>{{orderBOMForm.ten_motor_cold}}</td>
            <th>馬達型式：</th>
            <td>{{orderBOMForm.ten_motor_form}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>其他要求：</th>
            <td colspan="7">
              <input type="checkbox" value="無" class="check_box_list10" />無
              <input type="checkbox" value="風車" class="check_box_list10" />附電熱器
              <input type="checkbox" value="盤管" class="check_box_list10" />S.F. 1.0
              <input type="checkbox" value="電熱器" class="check_box_list10" />S.F. 1.1
              <input type="checkbox" value="加濕器" class="check_box_list10" />S.F. 1.15
            </td>
          </tr>
          <tr>
            <th colspan="2">十一、配電箱：</th>
            <th>材質：</th>
            <td>{{orderBOMForm.eleven_material}}</td>
            <th>型式：</th>
            <td>{{orderBOMForm.eleven_form}}</td>
            <th>鎖：</th>
            <td>{{orderBOMForm.eleven_key}}</td>
          </tr>
          <tr>
            <th colspan="2"></th>
            <th>防護等級：</th>
            <td>{{orderBOMForm.eleven_level}}</td>
            <th>尺寸需求：</th>
            <td>{{orderBOMForm.eleven_size}}</td>
          </tr>
          <tr>
            <th colspan="2">十二、配件：</th>
            <th>廠牌：</th>
            <td>{{orderBOMForm.twelve_brand}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>視窗：</th>
            <td>{{orderBOMForm.twelve_view}}</td>
            <th>壓差計：</th>
            <td>{{orderBOMForm.twelve_pressure}}</td>
            <th>刻度單位：</th>
            <td>{{orderBOMForm.twelve_unit}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>照明：</th>
            <td>{{orderBOMForm.twelve_light}}</td>
            <th>防護等級：</th>
            <td>{{orderBOMForm.twelve_level}}</td>
            <th>照明電源：</th>
            <td>{{orderBOMForm.twelve_light_elec}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>照明開關：</th>
            <td>{{orderBOMForm.twelve_light_open}}</td>
            <th>洩壓風門：</th>
            <td>{{orderBOMForm.twelve_winddoor}}</td>
            <th>底座材質：</th>
            <td>{{orderBOMForm.twelve_material}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>擴散網：</th>
            <td>{{orderBOMForm.twelve_net}}</td>
            <th>矽利康：</th>
            <td>{{orderBOMForm.twelve_silicone}}</td>
          </tr>
          <tr>
          <tr>
            <th></th>
            <th colspan="2">空調箱放置地點：</th>
            <td>{{orderBOMForm.twelve_location}}</td>
            <th>屋頂：</th>
            <td>{{orderBOMForm.twelve_roof}}</td>
            <th>材質：</th>
            <td>{{orderBOMForm.twelve_newmaterial}}</td>

          </tr>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>廠驗：</th>
            <td>{{orderBOMForm.twelve_test}}</td>
          </tr>
          <tr>
            <th colspan="4">十三、交貨方式：{{orderBOMForm.thirteen_way}}</th>
            <!-- <td colspan="1">{{orderBOMForm.first_boxmaterial}}</td> -->
            <th>新竹以北掉卡：</th>
            <td>{{orderBOMForm.thirteen_elevator}}</td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">空調箱節箱：</th>
            <td>
              <input name="thirteen_box" type="radio" value="勝新" checked="checked" />勝新
              <input name="thirteen_box" type="radio" value="{{OrderSpec.cClient}}" />{{OrderSpec.cClient}}
            </td>
            <th>分箱進場：</th>
            <td>{{orderBOMForm.thirteen_into}}</td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">空調箱外之避震：</th>
            <td>
              <input name="thirteen_shock" type="radio" value="勝新" checked="checked" />勝新
              <input name="thirteen_shock" type="radio" value="{{OrderSpec.cClient}}" />{{OrderSpec.cClient}}
            </td>
            <!-- <td>{{orderBOMForm.thirteen_shock}}</td> -->
            <th>避震器型式：</th>
            <td>{{orderBOMForm.thirteen_shocbox}}</td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">氣密施作：</th>
            <td>
              <input name="thirteen_apply" type="radio" value="勝新" checked="checked" />勝新
              <input name="thirteen_apply" type="radio" value="{{OrderSpec.cClient}}" />{{OrderSpec.cClient}}
            </td>
            <!-- <td>{{orderBOMForm.thirteen_apply}}</td> -->
          </tr>
          <tr>
            <th></th>
            <th colspan="2">空調箱固定：</th>
            <td>
              <input name="thirteen_fix" type="radio" value="勝新" checked="checked" />勝新
              <input name="thirteen_fix" type="radio" value="{{OrderSpec.cClient}}" />{{OrderSpec.cClient}}
            </td>
            <!-- <td>{{orderBOMForm.thirteen_fix}}</td> -->
            <th>結箱預算：</th>
            <td colspan="5">
              <input name="thirteen_budget" type="radio" value="無" checked="checked" />無
              <input name="thirteen_budget" type="radio" value="有" />有
              {{orderBOMForm.thirteen_budgetdollar}}
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">防位移型式：</th>
            <td>{{orderBOMForm.thirteen_displace}}</td>
            <th>固定方式：</th>
            <td>{{orderBOMForm.thirteen_fixway}}</td>
          </tr>
          <tr>
            <th colspan="4">十四、現場組裝：{{orderBOMForm.fourteen_ass}}</th>
            <th>組裝預算：</th>
            <td colspan="5">
              <input name="fourteen_budget" type="radio" value="無" checked="checked" />無
              <input name="fourteen_budget" type="radio" value="有" />有
              {{orderBOMForm.fourteen_budgetdollar}}
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">施工時間：</th>
            <td>{{orderBOMForm.fourteen_time}}</td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">人員進場須知：</th>
            <td>{{orderBOMForm.fourteen_into}}</td>
            <th>日期時間：</th>
            <td>{{orderBOMForm.fourteen_intotime}}</td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">當天上完課組裝：</th>
            <td>{{orderBOMForm.fourteen_afterass}}</td>
            <th>日期時間：</th>
            <td>{{orderBOMForm.fourteen_afterasstime}}</td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">外籍人員可否進場：</th>
            <td>{{orderBOMForm.fourteen_foreigninto}}</td>
            <th>日期時間：</th>
            <td>{{orderBOMForm.fourteen_foreignintotime}}</td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">六小時公安證件：</th>
            <td>{{orderBOMForm.fourteen_card}}</td>
            <th>工地意外保險：</th>
            <td>{{orderBOMForm.fourteen_insurance}}</td>
          </tr>
          <tr>
            <th colspan="5">十五、空調箱搬運空位：
              <input name="fifteen_location" type="radio" value="勝新" checked="checked" />勝新
              <input name="fifteen_location" type="radio" value="{{OrderSpec.cClient}}" />{{OrderSpec.cClient}}
            </th>
          </tr>
          <tr>
            <th></th>
            <th colspan="5">水平搬運：
              <input name="fifteen_level" type="radio" value="勝新" checked="checked" />勝新
              <input name="fifteen_level" type="radio" value="{{OrderSpec.cClient}}" />{{OrderSpec.cClient}}
            </th>
            <!-- <td>{{orderBOMForm.fifteen_level}}</td> -->
          </tr>
          <tr>
            <th></th>
            <th colspan="5">垂直搬運：
              <input name="fifteen_vertical" type="radio" value="勝新" checked="checked" />勝新
              <input name="fifteen_vertical" type="radio" value="{{OrderSpec.cClient}}" />{{OrderSpec.cClient}}
            </th>
            <!-- <td>{{orderBOMForm.fifteen_vertical}}</td> -->
          </tr>
          <tr>
            <th></th>
            <th colspan="5">立式空調箱上箱段：
              <input name="fifteen_box" type="radio" value="勝新" checked="checked" />勝新
              <input name="fifteen_box" type="radio" value="{{OrderSpec.cClient}}" />{{OrderSpec.cClient}}
            </th>
            <!-- <td>{{orderBOMForm.fifteen_box}}</td> -->
          </tr>
          <tr>
            <th colspan="3">十六、代課安裝：</th>
            <td colspan="7">
              <input type="checkbox" value="無" class="check_box_list" />無
              <input type="checkbox" value="風車" class="check_box_list" />風車
              <input type="checkbox" value="盤管" class="check_box_list" />盤管
              <input type="checkbox" value="電熱器" class="check_box_list" />電熱器
              <input type="checkbox" value="加濕器" class="check_box_list" />加濕器
              <input type="checkbox" value="初效濾網" class="check_box_list" />初效濾網
              <input type="checkbox" value="中效濾網" class="check_box_list" />中效濾網
              <input type="checkbox" value="高效濾網" class="check_box_list" />高效濾網
              <input type="checkbox" value="馬達" class="check_box_list" />馬達
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">備料(欲採購)：</th>
            <td colspan="7">
              <input type="checkbox" value="無" class="check_box_list1" />無
              <input type="checkbox" value="風車" class="check_box_list1" />風車
              <input type="checkbox" value="盤管" class="check_box_list1" />盤管
              <input type="checkbox" value="電熱器" class="check_box_list1" />電熱器
              <input type="checkbox" value="加濕器" class="check_box_list1" />加濕器
              <input type="checkbox" value="初效濾網" class="check_box_list1" />初效濾網
              <input type="checkbox" value="中效濾網" class="check_box_list1" />中效濾網
              <input type="checkbox" value="高效濾網" class="check_box_list1" />高效濾網
              <input type="checkbox" value="馬達" class="check_box_list1" />馬達
            </td>
          </tr>
          <tr>
            <th colspan="3">十七、矽利康：</th>
            <td>
              <input type="checkbox" value="箱內" class="check_box_list2" checked="checked" />箱內
              <input type="checkbox" value="箱外" class="check_box_list2" checked="checked" />箱外
            </td>
            <th>品牌要求：</th>
            <td>{{orderBOMForm.seventeen_brand}}</td>
          </tr>
          <tr>
            <th colspan="2">十八、其他：</th>
            <td colspan="7">{{orderBOMForm.eighteen_other}}</td>
          </tr>
          <tr>
            <input type="hidden" name="seven_other" id="textvalue7">
            <input type="hidden" name="ten_motor_ask" id="textvalue10">
            <input type="hidden" name="sixteen_install" id="textvalue">
            <input type="hidden" name="sixteen_prepare" id="textvalue1">
            <input type="hidden" name="seventeen_silicone" id="textvalue2">
          </tr>
          <tr>
            <th colspan="2"></th>
            <th colspan="7">
              <input type="submit" class="btn btn-primary" name="button" id="button" value="送出">
              <input type="reset" class="btn btn-danger" name="button2" id="button2" value="重設">
            </th>
            </th>
          </tr>

          </tr>



        </table>
      </div>
    </div>
  </form>

  <script src="{% static 'jquery.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $(".check_box_list").click(function () {
        var test = ""
        $(".check_box_list:checked").each(function () {
          test += $(this).val() + ","
        });
        test = test.substring(0, test.length - 1)
        $("#textvalue").val(test);
      })
      $(".check_box_list1").click(function () {
        var test1 = ""
        $(".check_box_list1:checked").each(function () {
          test1 += $(this).val() + ","
        });
        test1 = test1.substring(0, test1.length - 1)
        $("#textvalue1").val(test1);
      })
      $(".check_box_list7").click(function () {
        var test7 = ""
        $(".check_box_list7:checked").each(function () {
          test7 += $(this).val() + ","
        });
        test7 = test7.substring(0, test7.length - 1)
        $("#textvalue7").val(test7);
      })
      $(".check_box_list10").click(function () {
        var test10 = ""
        $(".check_box_list10:checked").each(function () {
          test10 += $(this).val() + ","
        });
        test10 = test10.substring(0, test10.length - 1)
        $("#textvalue10").val(test10);
      })
      var checkboxes = document.querySelectorAll('input[class="check_box_list2"]');
      var selectedValues = [];

      checkboxes.forEach(function (check_box_list2) {
        if (check_box_list2.checked) {
          selectedValues.push(check_box_list2.value);
        }
      });
      myString = selectedValues.join(',');
      test2 = myString.substring(0, myString.length)
      $("#textvalue2").val(test2);
      $(".check_box_list2").click(function () {
        selectedValues = []
        checkboxes.forEach(function (check_box_list2) {
          if (check_box_list2.checked) {
            selectedValues.push(check_box_list2.value);
          }
        });
        myString = selectedValues.join(',');
        test2 = myString.substring(0, myString.length)
        $("#textvalue2").val(test2);
      })
    })


  </script>
</body>