<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  {% load static %}
  <title>顯示所有資料</title>

</head>

<body>
  <style>
    .fixed-section {
      /* position: -webkit-sticky; */
      position: sticky;
      top: 0;
      /* z-index: 1000;*/
      background-color: white;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/designIndex/">首頁</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-light my-2 my-sm-0" id="{{CompareSpec.cNumber}}"
                onclick="compare(event)">新增</button>
            </li>
          </ul>

          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-warning my-2 my-sm-0" id="{{firstname}}" onclick="perosonIndex(event)">待簽
                <!-- {% if allpersonCount != 0 %}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{allpersonCount}}
                  </span>
                {% endif %} -->
              </button>
            </li>
          </ul>
          {% if username == "admin" %}
          <li class="nav-item active">
            <a class="nav-link" href="/admin/">管理人員 <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              其他表單
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/signallIndex/">簽呈資料</a>
              <a class="dropdown-item" href="/meetingallIndex/">會議記錄資料</a>
              <a class="dropdown-item" href="/contactallIndex/">內部連絡單資料</a>
              <a class="dropdown-item" href="/contractallIndex/">工程發包議價記錄單</a>
              <a class="dropdown-item" href="/changeallIndex/">設計變更通知單</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name='q' type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-2">
          <li class="nav-item active">
            <a class="nav-link disabled" style="color: green;">{{firstname}} <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-2">
          <li class="nav-item">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="Logout(event)">登出</button>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div class="container">
    <!-- {{temp}} -->
    <!-- <hr> -->
    <!-- {{text}}  -->
    <!-- {{answer}} -->
  </div>

  <div class="container fixed-section">
    <div class="row">
      <h2 class="mt-2">資料表新增</h2>
    </div>
    <p style="color:red; font-weight: bold; font-size: larger;">{{message}}</p>
    {% if special != "123" %}
      <div class="card text-center ">
        <div class="card-header text-primary" style="font-weight: bold; font-size: larger;">{{special.cClient}}</div>
        <div class="card-body">
          <h5 class="card-title text-primary" style="font-weight: bold; font-size: larger;">特殊規格</h5>
          <p class="card-text">{{special.cSpecial}}</p>
          <h5 class="card-title text-primary" style="font-weight: bold; font-size: larger;">品牌指定</h5>
          <p class="card-text">{{special.cBrand}}</p>
        </div>
      </div>
    {% endif %}
  </div>


  <form action="." method="post" name="form1" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <table class="table">
          <tr>
            <th colspan="2">設備名稱</th>
            <td colspan="3">{{tablespecform.machinename}}</td>
          </tr>
          <tr>
            <th colspan="5">一、箱體材質：{{tablespecform.first_boxmaterial}}</th>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th style="color: rgb(56, 122, 221);">內板厚度：</th>
            <td>{{tablespecform.first_inthick}}</td>
            <th style="color: rgb(56, 122, 221);">內板材質：</th>
            <td>{{tablespecform.first_inmaterial}}</td>
            <th>螺絲配件：</th>
            <td>{{tablespecform.first_inother}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th style="color: rgb(56, 122, 221);">外板厚度：</th>
            <td>{{tablespecform.first_outthick}}</td>
            <th style="color: rgb(56, 122, 221);">外板材質：</th>
            <td>{{tablespecform.first_outmaterial}}</td>
            <th>箱板材質：</th>
            <td>{{tablespecform.first_boxthick}}</td>
          </tr>
          <tr>
            <th colspan="10"> 二、維修門及箱體框架型式：</th>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>維修門方式：</th>
            <td>{{tablespecform.second_door}}</td>
            <th>箱體框架型式：</th>
            <td>{{tablespecform.second_frame}}</td>
          </tr>
          <tr>
            <th colspan="2">三、濾網：</th>
          </tr>
          <tr>
            <th colspan="2">1.初級濾網：</th>
            <td colspan="3">{{tablespecform.third_basic}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>安裝方式：</th>
            <td>{{tablespecform.third_basic_install}}</td>
            <th>厚度：</th>
            <td>{{tablespecform.third_basic_thick}}</td>
            <th>廠牌：</th>
            <td>{{tablespecform.third_basic_brand}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>濾網框：</th>
            <td>{{tablespecform.third_basic_frame}}</td>
            <th>效率：</th>
            <td>{{tablespecform.third_basic_efficient}}&nbsp;比色法</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>濾材材質：</th>
            <td>{{tablespecform.third_basic_material}}&nbsp;{{tablespecform.third_level}}層</td>
          </tr>
          <tr>
            <th colspan="2">2.中級濾網：</th>
            <td colspan="3">{{tablespecform.third_medium}} </td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>外框型式：</th>
            <td>{{tablespecform.third_medium_frameform}}</td>
            <th>袋長：</th>
            <td>{{tablespecform.third_medium_long}}</td>
            <th>廠牌：</th>
            <td>{{tablespecform.third_medium_brand}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>濾網框：</th>
            <td>{{tablespecform.third_medium_frame}}</td>
            <th>效率：</th>
            <td>{{tablespecform.third_medium_efficient}}&nbsp;比色法</td>
          </tr>
          <tr>
            <th colspan="2">3.高級濾網：</th>
            <td colspan="3">{{tablespecform.third_high}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>外框型式：</th>
            <td>{{tablespecform.third_high_frameform}}</td>
            <th>長度：</th>
            <td>{{tablespecform.third_high_long}}</td>
            <th>廠牌：</th>
            <td>{{tablespecform.third_high_brand}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>濾網框：</th>
            <td>{{tablespecform.third_high_frame}}</td>
            <th>效率：</th>
            <td>{{tablespecform.third_high_efficient}}&nbsp;D.O.P.</td>

          </tr>
          <tr>
          <tr>
            <th></th>
            <th colspan="2">初中級框架材質：</th>
            <td>{{tablespecform.third_basic_medium_material}}</td>
            <th>高效框架材質：</th>
            <td>{{tablespecform.third_high_material}}</td>
          </tr>
          </tr>
          <tr>
            <th colspan="2">四、電熱器：</th>
            <td colspan="3">{{tablespecform.four_heater}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>SSCR控制：</th>
            <td>{{tablespecform.four_SSCR}}</td>
            <th>分段方式：</th>
            <td>{{tablespecform.four_way}}</td>
            <th>框架材質：</th>
            <td>{{tablespecform.four_material}}</td>
          </tr>
          <tr>
            <th colspan="2">五、加熱器：</th>
            <td colspan="2">{{tablespecform.fiv_humidifier}}</td>
            <th>型式：</th>
            <td colspan="3">{{tablespecform.fiv_form}}</td>
          </tr>
          <tr>
            <th colspan="2"  style="color: rgb(56, 122, 221);">六、風門：</th>
            <td colspan="3">{{tablespecform.six_winddoor}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th style="color: rgb(56, 122, 221);">型式：</th>
            <td>{{tablespecform.six_form}}</td>
            <th>邊框材質：</th>
            <td>{{tablespecform.six_frame_material}}</td>
            <th>葉片材質：</th>
            <td>{{tablespecform.six_blade_material}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>軸心：</th>
            <td>{{tablespecform.six_axis}}&nbsp;<input type="text" name="six_mm" style="width: 100px; height: 25px;">mm</td>

          </tr>
          <tr>
            <th colspan="2" style="color: rgb(56, 122, 221);">七、盤管：</th>
          </tr>
          <tr>
            <th colspan="2" style="color: rgb(56, 122, 221);">1.冰水盤管</th>
            <td colspan="3">{{tablespecform.seven_cold}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th style="color: rgb(56, 122, 221);">鰭片：</th>
            <td>{{tablespecform.seven_fins}}</td>
            <th style="color: rgb(56, 122, 221);">厚度：</th>
            <td>{{tablespecform.seven_thick}}</td>
            <th style="color: rgb(56, 122, 221);">端側板：</th>
            <td>{{tablespecform.seven_board}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th style="color: rgb(56, 122, 221);">銅管厚度：</th>
            <td>{{tablespecform.seven_pipe_thick}}</td>
            <th style="color: rgb(56, 122, 221);">集水管：</th>
            <td>{{tablespecform.seven_waterpipe}}</td>
            <th style="color: rgb(56, 122, 221);">銅管管徑：</th>
            <td>{{tablespecform.seven_size}}</td>
          </tr>
          <tr>
            <th colspan="2">2.熱水盤管</th>
            <td colspan="3">{{tablespecform.seven_hot}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>鰭片：</th>
            <td>{{tablespecform.seven_hotfins}}</td>
            <th>厚度：</th>
            <td>{{tablespecform.seven_hotthick}}</td>
            <th>端側板：</th>
            <td>{{tablespecform.seven_hotboard}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>銅管厚度：</th>
            <td>{{tablespecform.seven_hotpipe_thick}}</td>
            <th>集水管：</th>
            <td>{{tablespecform.seven_hotwaterpipe}}</td>
            <th>銅管管徑：</th>
            <td>{{tablespecform.seven_hotsize}}</td>
          </tr>
          <tr>
            <th colspan="2">3.蒸氣盤管</th>
            <td colspan="3">{{tablespecform.seven_steam}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>鰭片：</th>
            <td>{{tablespecform.seven_steamfins}}</td>
            <th>厚度：</th>
            <td>{{tablespecform.seven_steamthick}}</td>
            <th>端側板：</th>
            <td>{{tablespecform.seven_steamboard}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>銅管厚度：</th>
            <td>{{tablespecform.seven_steampipe_thick}}</td>
            <th>集水管：</th>
            <td>{{tablespecform.seven_steamwaterpipe}}</td>
            <th>銅管管徑：</th>
            <td>{{tablespecform.seven_steamsize}}</td>
          </tr>
          <tr>
            <th colspan="2">4.鹵水盤管</th>
            <td colspan="3">{{tablespecform.seven_brine}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>鰭片：</th>
            <td>{{tablespecform.seven_brinefins}}</td>
            <th>厚度：</th>
            <td>{{tablespecform.seven_brinethick}}</td>
            <th>端側板：</th>
            <td>{{tablespecform.seven_brineboard}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>銅管厚度：</th>
            <td>{{tablespecform.seven_brinepipe_thick}}</td>
            <th>集水管：</th>
            <td>{{tablespecform.seven_brinewaterpipe}}</td>
            <th>銅管管徑：</th>
            <td>{{tablespecform.seven_brinesize}}</td>
          </tr>

          <tr>
            <th colspan="2">其他要求：</th>
            <td colspan="7">
              <input type="checkbox" value="無" class="check_box_list7" />無
              <input type="checkbox" value="鰭片鍍錫" class="check_box_list7" />鰭片鍍錫
              <input type="checkbox" value="持壓進場" class="check_box_list7" />持壓進場
              <input type="checkbox" value="附法蘭" class="check_box_list7" />附法蘭
              <input type="checkbox" value="epoxy塗裝" class="check_box_list7" />epoxy塗裝
            </td>
          </tr>
          <tr>
            <th colspan="2">八、排水盤：</th>
            <th style="color: rgb(56, 122, 221);">材質：</th>
            <td>{{tablespecform.eight_material}}</td>
            <th style="color: rgb(56, 122, 221);">厚度：</th>
            <td>{{tablespecform.eight_thick}}</td>
          </tr>
          <tr>
            <th colspan="2">九、風車：</th>
            <th>廠牌：</th>
            <td>
              <input list="browsers" name="nine_brand" style="width: 110px; height: 25px;" value="{{ windbrand }}">
              <datalist id="browsers">
                <option value="科祿格">
                <option value="及普">
                <option value="尼可達">
                <option value="億利達">
                <option value="依圖面">
              </datalist>
            </td>
            <th>傳動方式：</th>
            <td>{{tablespecform.nine_way}}</td>
            <th>葉片型式：</th>
            <td>{{tablespecform.nine_form}}</td>
          </tr>
          <tr>
            <th colspan="2">十、馬達：</th>
            <th style="color: rgb(56, 122, 221);">廠牌：</th>
            <td>
              <!-- {{tablespecform.ten_motor_brand}} -->
              <input list="browsersten" name="ten_motor_brand" style="width: 110px; height: 25px;"  value="{{ motorbrand }}">
              <datalist id="browsersten">
                <option value="東元">
                <option value="大同">
                <option value="西門子">
                <option value="銅管">
                <option value="MEZ">
                <option value="邦達">
                <option value="依圖面">
              </datalist>
            </td>
            <th style="color: rgb(56, 122, 221);">絕緣等級：</th>
            <td>{{tablespecform.ten_motor_Insulation}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>馬達電源：</th>
            <td>{{tablespecform.ten_motor_elec}}</td>
            <th>馬達效率：</th>
            <td>{{tablespecform.ten_motor_efficient}}</td>
            <th>防護等級：</th>
            <td>{{tablespecform.ten_motor_level}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>啟動方式：</th>
            <td>{{tablespecform.ten_motor_open}}</td>
            <th>冷卻方式：</th>
            <td>{{tablespecform.ten_motor_cold}}</td>
            <th>馬達型式：</th>
            <td>{{tablespecform.ten_motor_form}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>其他要求：</th>
            <td colspan="7">
              <input type="checkbox" value="無" class="check_box_list10" />無
              <input type="checkbox" value="附電熱器" class="check_box_list10" />附電熱器
              <input type="checkbox" value="S.F. 1.0" class="check_box_list10" />S.F. 1.0
              <input type="checkbox" value="S.F. 1.1" class="check_box_list10" />S.F. 1.1
              <input type="checkbox" value="S.F. 1.15" class="check_box_list10" />S.F. 1.15
            </td>
          </tr>
          <tr>
            <th colspan="2">十一、配電箱：</th>
            <th>材質：</th>
            <td>{{tablespecform.eleven_material}}</td>
            <th>型式：</th>
            <td>{{tablespecform.eleven_form}}</td>
            <th>鎖：</th>
            <td>{{tablespecform.eleven_key}}</td>
          </tr>
          <tr>
            <th colspan="2"></th>
            <th>防護等級：</th>
            <td>{{tablespecform.eleven_level}}</td>
            <th>尺寸需求：</th>
            <td>{{tablespecform.eleven_size}}</td>
          </tr>
          <tr>
            <th colspan="2">十二、配件：</th>
            <th>廠牌：</th>
            <td>{{tablespecform.twelve_brand}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>視窗：</th>
            <td>{{tablespecform.twelve_view}}</td>
            <th>壓差計：</th>
            <td>{{tablespecform.twelve_pressure}}</td>
            <th>刻度單位：</th>
            <td>{{tablespecform.twelve_unit}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>照明：</th>
            <td>{{tablespecform.twelve_light}}</td>
            <th>防護等級：</th>
            <td>{{tablespecform.twelve_level}}</td>
            <th>照明電源：</th>
            <td>{{tablespecform.twelve_light_elec}}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>照明開關：</th>
            <td>{{tablespecform.twelve_light_open}}</td>
            <th>洩壓風門：</th>
            <td>{{tablespecform.twelve_winddoor}}</td>
            <th>底座材質：</th>
            <td>
              <input list="browserstwelve" name="twelve_material" style="width: 120px; height: 25px;" value="{{ basematerial }}">
              <datalist id="browserstwelve">
                <option value="C型鋼">
                <option value="熱浸鍍鋅槽鐵">
                <option value="不鏽鋼">
                <option value="無">
              </datalist>
              &nbsp;<input type="text" name="twelve_mm" style="width: 35px; height: 25px;">mm
            </td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>擴散網：</th>
            <td>{{tablespecform.twelve_net}}</td>
            <th>矽利康：</th>
            <td>
              <input list="browserssili" name="twelve_silicone" style="width: 110px; height: 25px;" value="{{silicone}}"></label>
              <datalist id="browserssili">
                <option value="勝新標準">
                <option value="SIKA">
                <option value="高溫型">
                <option value="道康寧">
              </datalist>
            </td>
          </tr>
          <tr>
          <tr>
            <th></th>
            <th colspan="2">空調箱放置地點：</th>
            <td>{{tablespecform.twelve_location}}</td>
            <th>屋頂：</th>
            <td>{{tablespecform.twelve_roof}}</td>
            <th>材質：</th>
            <td>{{tablespecform.twelve_newmaterial}}</td>

          </tr>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>廠驗：</th>
            <td>{{tablespecform.twelve_test}}</td>
          </tr>
          <tr>
            <th colspan="4">十三、交貨方式：{{tablespecform.thirteen_way}}</th>
            <th>新竹以北掉卡：</th>
            <td>{{tablespecform.thirteen_elevator}}</td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">空調箱節箱：</th>
            <td>
              <select id="taskTypeSelect" name="thirteen_box">
                <option value="勝新" name="thirteen_box"> 勝新</option>
                <option value="{{CompareSpec.cClient}}" name="thirteen_box"> {{CompareSpec.cClient}} </option>
              </select>
            </td>
            <th>分箱進場：</th>
            <td>{{tablespecform.thirteen_into}}</td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">空調箱外之避震：</th>
            <td>
              <select id="taskTypeSelect" name="thirteen_shock">
                <option value="勝新" name="thirteen_shock"> 勝新</option>
                <option value="{{CompareSpec.cClient}}" name="thirteen_shock"> {{CompareSpec.cClient}} </option>
            </select>
            </td>
            <!-- <td>{{tablespecform.thirteen_shock}}</td> -->
            <th>避震器型式：</th>
            <td colspan="5">{{tablespecform.thirteen_shocbox}} {{tablespecform.thirteen_shockbox_form}}</td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">氣密施作：</th>
            <td>
              <select id="taskTypeSelect" name="thirteen_apply">
                <option value="勝新" name="thirteen_apply"> 勝新</option>
                <option value="{{CompareSpec.cClient}}" name="thirteen_apply"> {{CompareSpec.cClient}} </option>
              </select>
            </td>
            <!-- <td>{{tablespecform.thirteen_apply}}</td> -->
          </tr>
          <tr>
            <th></th>
            <th colspan="2">空調箱固定：</th>
            <td>
              <select id="taskTypeSelect" name="thirteen_fix">
                <option value="勝新" name="thirteen_fix"> 勝新</option>
                <option value="{{CompareSpec.cClient}}" name="thirteen_fix"> {{CompareSpec.cClient}} </option>
              </select>
            </td>
            <th>結箱預算：</th>
            <td colspan="5">
              <input name="thirteen_budget" type="radio" value="無" id="1" checked="checked" onclick="togglePaymentDetails()"/>無
              <input name="thirteen_budget" type="radio" value="有" id="Other" onclick="togglePaymentDetails()"/>有
              <span id="budgetDetails" style="display:none;"><input name="thirteen_budget" type="text" value="" id="other"  oninput="updateAdditionalTextbox()"/></span>
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">防位移型式：</th>
            <td>{{tablespecform.thirteen_displace}}</td>
            <th>固定方式：</th>
            <td>{{tablespecform.thirteen_fixway}}</td>
          </tr>
          <tr>
            <th colspan="4">十四、現場組裝：{{tablespecform.fourteen_ass}}</th>
            <th>組裝預算：</th>
            <td colspan="5">
              <input name="fourteen_budget" type="radio" value="無" id="no" checked="checked" onclick="toggledollarDetails()"/>無
              <input name="fourteen_budget" type="radio" value="有" id="yes" onclick="toggledollarDetails()"/>有
              <span id="dollarDetails" style="display:none;"> <input name="fourteen_budget" type="text" value="" id="something" oninput="updateAdditionalTextbox2()"/>
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">施工時間：</th>
            <td colspan="5">
              <input type="date" name="fourteen_time_date" value="{{ defaultDates.start }}">  
              <input type="time" name="fourteen_time_time" value="{{ defaultDates.start_time }}">
            </td>
            <!-- <td>{{tablespecform.fourteen_time}}</td> -->
          </tr>
          <tr>
            <th></th>
            <th colspan="2">人員進場須知：</th>
            <td>{{tablespecform.fourteen_into}}</td>
            <th>日期時間：</th>
            <td colspan="5">
              <input type="date" name="fourteen_intotime_date" value="{{ defaultDates.start }}">  
              <input type="time" name="fourteen_intotime_time" value="{{ defaultDates.start_time }}">
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">當天上完課組裝：</th>
            <td>{{tablespecform.fourteen_afterass}}</td>
            <th>日期時間：</th>
            <td colspan="5">
              <input type="date" name="fourteen_afterasstime_date" value="{{ defaultDates.start }}">  
              <input type="time" name="fourteen_afterasstime_time" value="{{ defaultDates.start_time }}">
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">外籍人員可否進場：</th>
            <td>{{tablespecform.fourteen_foreigninto}}</td>
            <th>日期時間：</th>
            <td colspan="5">
              <input type="date" name="fourteen_foreignintotime_date" value="{{ defaultDates.start }}">  
              <input type="time" name="fourteen_foreignintotime_time" value="{{ defaultDates.start_time }}">
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">六小時公安證件：</th>
            <td>{{tablespecform.fourteen_card}}</td>
            <th>工地意外保險：</th>
            <td>{{tablespecform.fourteen_insurance}}
              <p style="color: red;">* 0為不需要</p>
            </td>
          </tr>
          <tr>
            <th colspan="5">十五、空調箱搬運空位：
              <select id="taskTypeSelect" name="fifteen_location">
                <option value="勝新" name="fifteen_location"> 勝新</option>
                <option value="{{CompareSpec.cClient}}" name="fifteen_location"> {{CompareSpec.cClient}} </option>
              </select>
            </th>
            <th colspan="5">現場勘查：
              {{tablespecform.fifteen_view}}
            </th>
          </tr>
          <tr>
            <th></th>
            <th colspan="5">水平搬運：
              <select id="taskTypeSelect" name="fifteen_level">
                <option value="勝新" name="fifteen_level"> 勝新</option>
                <option value="{{CompareSpec.cClient}}" name="fifteen_level"> {{CompareSpec.cClient}} </option>
              </select>
            </th>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">垂直搬運：
              <select id="taskTypeSelect" name="fifteen_vertical">
                <option value="勝新" name="fifteen_vertical"> 勝新</option>
                <option value="{{CompareSpec.cClient}}" name="fifteen_vertical"> {{CompareSpec.cClient}} </option>
              </select>
            </th>
            <td>
              <input type="checkbox" value="吊車" class="check_box_list15" />吊車
              <input type="checkbox" value="推高機" class="check_box_list15" />推高機
            </td>
            <th colspan="2">搬運預算：{{tablespecform.fifteen_budget}}</th>
          </tr>
          <tr>
            <th></th>
            <th colspan="5">立式空調箱上箱段：
              <select id="taskTypeSelect" name="fifteen_box">
                <option value="勝新" name="fifteen_box"> 勝新</option>
                <option value="{{CompareSpec.cClient}}" name="fifteen_box"> {{CompareSpec.cClient}} </option>
              </select>
            </th>
          </tr>
          <tr>
            <th colspan="3">十六、代課安裝：</th>
            <td colspan="7">
              <input type="checkbox" value="無" class="check_box_list" />無
              <input type="checkbox" value="風車" class="check_box_list" />風車
              <input type="checkbox" value="盤管" class="check_box_list" />盤管
              <input type="checkbox" value="電熱器" class="check_box_list" />電熱器
              <input type="checkbox" value="加濕器" class="check_box_list" />加濕器
              <input type="checkbox" value="初效濾網" class="check_box_list" />初效濾網
              <input type="checkbox" value="中效濾網" class="check_box_list" />中效濾網
              <input type="checkbox" value="高效濾網" class="check_box_list" />高效濾網
              <input type="checkbox" value="馬達" class="check_box_list" />馬達
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">備料(欲採購)：</th>
            <td colspan="7">
              <input type="checkbox" value="無" class="check_box_list1" />無
              <input type="checkbox" value="風車" class="check_box_list1" />風車
              <input type="checkbox" value="盤管" class="check_box_list1" />盤管
              <input type="checkbox" value="電熱器" class="check_box_list1" />電熱器
              <input type="checkbox" value="加濕器" class="check_box_list1" />加濕器
              <input type="checkbox" value="初效濾網" class="check_box_list1" />初效濾網
              <input type="checkbox" value="中效濾網" class="check_box_list1" />中效濾網
              <input type="checkbox" value="高效濾網" class="check_box_list1" />高效濾網
              <input type="checkbox" value="馬達" class="check_box_list1" />馬達
            </td>
          </tr>
          <tr>
            <th colspan="3">十七、矽利康：</th>
            <td>
              <input type="checkbox" value="箱內" class="check_box_list2" checked="checked" />箱內
              <input type="checkbox" value="箱外" class="check_box_list2" checked="checked" />箱外
            </td>
            <th>品牌要求：</th>
            <td>{{tablespecform.seventeen_brand}}</td>
          </tr>
          <tr>
            <th colspan="2">十八、其他：</th>
            <td colspan="7">{{tablespecform.eighteen_other}}</td>
          </tr>
          <tr>
            <input type="hidden" name="seven_other" id="textvalue7">
            <input type="hidden" name="ten_motor_ask" id="textvalue10">
            <input type="hidden" name="sixteen_install" id="textvalue">
            <input type="hidden" name="sixteen_prepare" id="textvalue1">
            <input type="hidden" name="seventeen_silicone" id="textvalue2">
            <input type="hidden" name="fifteen_tool" id="textvalue5">
            <input type="hidden" name="thirteen_budget" id="textvalue3" value="無">
            <input type="hidden" name="fourteen_budget" id="textvalue4" value="無">
          </tr>
          <tr>
            <th colspan="2"></th>
            <th colspan="7">
              <input type="submit" class="btn btn-primary" name="button" id="button" value="送出">
              <input type="reset" class="btn btn-danger" name="button2" id="button2" value="重設">
            </th>
            </th>
          </tr>

          </tr>



        </table>
      </div>
    </div>
  </form>

  <script src="{% static 'jquery.min.js' %}"></script>
  <script>

    // 結箱預算和組裝預算
    function togglePaymentDetails() {
        var radiono = document.getElementById('1');
        var radioyes = document.getElementById('Other');
        var textInput = document.getElementById('other');
        var textInput22 = document.getElementById('budgetDetails');
        var additionalTextbox = document.getElementById('textvalue3');

        if (radioyes.checked) {
            textInput22.style.display = 'inline-block';
            updateAdditionalTextbox();
        } else {
            textInput22.style.display = 'none';
            additionalTextbox.value = '無';
        }
      }

    function updateAdditionalTextbox() {
      var textInput = document.getElementById('other');
      var additionalTextbox = document.getElementById('textvalue3');
      additionalTextbox.value = "有，"+textInput.value;
    }

    function toggledollarDetails() {
        var radiono1 = document.getElementById('no');
        var radioyes2 = document.getElementById('yes');
        var textInput2 = document.getElementById('something');
        var textInput33 = document.getElementById('dollarDetails');
        var additionalTextbox1 = document.getElementById('textvalue4');

        if (radioyes2.checked) {
            textInput33.style.display = 'inline-block';
            updateAdditionalTextbox2();
        } else {
            textInput33.style.display = 'none';
            additionalTextbox1.value = '無';
        }
      }

      function updateAdditionalTextbox2() {
        var textInput1 = document.getElementById('something');
        var additionalTextbox2 = document.getElementById('textvalue4');
        additionalTextbox2.value = "有，"+textInput1.value;
      }



    $(document).ready(function () {
      // checkbox
      $(".check_box_list").click(function () {
        var test = ""
        $(".check_box_list:checked").each(function () {
          test += $(this).val() + ","
        });
        test = test.substring(0, test.length - 1)
        $("#textvalue").val(test);
      })

      $(".check_box_list1").click(function () {
        var test1 = ""
        $(".check_box_list1:checked").each(function () {
          test1 += $(this).val() + ","
        });
        test1 = test1.substring(0, test1.length - 1)
        $("#textvalue1").val(test1);
      })

      $(".check_box_list7").click(function () {
        var test7 = ""
        $(".check_box_list7:checked").each(function () {
          test7 += $(this).val() + ","
        });
        test7 = test7.substring(0, test7.length - 1)
        $("#textvalue7").val(test7);
      })
      
      $(".check_box_list10").click(function () {
        var test10 = ""
        $(".check_box_list10:checked").each(function () {
          test10 += $(this).val() + ","
        });
        test10 = test10.substring(0, test10.length - 1)
        $("#textvalue10").val(test10);
      })

      $(".check_box_list15").click(function () {
        var test15 = ""
        $(".check_box_list15:checked").each(function () {
          test15 += $(this).val() + ","
        });
        test15 = test15.substring(0, test15.length - 1)
        $("#textvalue5").val(test15);
      })
      // 矽利康:要先預設箱內、箱外
      var checkboxes = document.querySelectorAll('input[class="check_box_list2"]');
      var selectedValues = [];

      checkboxes.forEach(function (check_box_list2) {
        if (check_box_list2.checked) {
          selectedValues.push(check_box_list2.value);
        }
      });

      myString = selectedValues.join(',');
      test2 = myString.substring(0, myString.length)
      $("#textvalue2").val(test2);

      $(".check_box_list2").click(function () {
        selectedValues = []
        checkboxes.forEach(function (check_box_list2) {
          if (check_box_list2.checked) {
            selectedValues.push(check_box_list2.value);
          }
        });
        myString = selectedValues.join(',');
        test2 = myString.substring(0, myString.length)
        $("#textvalue2").val(test2);
      })

    })


  </script>
</body>