<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  {% load static %}
  <title>顯示所有資料</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/designIndex/">首頁</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-light my-2 my-sm-0" onclick="home()">新增</button>
            </li>
          </ul>

          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <button class="btn btn-warning my-2 my-sm-0" id="{{firstname}}" onclick="perosonIndex(event)">待簽
                <!-- {% if allpersonCount != 0 %}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{allpersonCount}}
                  </span>
                {% endif %} -->
              </button>
            </li>
          </ul>
          {% if username == "admin" %}
            <li class="nav-item active">
              <a class="nav-link" href="/admin/">管理人員 <span class="sr-only">(current)</span></a>
            </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              其他表單
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/signallIndex/">簽呈資料</a>
              <a class="dropdown-item" href="/meetingallIndex/">會議記錄資料</a>
              <a class="dropdown-item" href="/contactallIndex/">內部連絡單資料</a>
              <a class="dropdown-item" href="/contractallIndex/">工程發包議價記錄單</a>
              <a class="dropdown-item" href="/changeallIndex/">設計變更通知單</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" name='q' type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-2">
          <li class="nav-item active">
            <a class="nav-link disabled" style="color: green;">{{firstname}} <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-2">
          <li class="nav-item">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="Logout(event)">登出</button>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <div class="container mt-2">  
    <button type="button" class="btn btn-outline-warning mb-2" id="{{Tablespec.cNumber}}" onclick="TablespecEdit(event)">製令編輯</button>
    <a class="btn btn-outline-success mb-2" id="{{Tablespec.cNumber}}" onclick="outputpdf(event)">匯出PDF</a>
  </div>
  <form action="." method="post" name="form1" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <table class="table">
          <tr><th>設備名稱：{{Tablespec.machinename}}</th></tr>
          <tr>
            <th>一、箱體材質：</th>
            <td colspan="3">{{Tablespec.first_boxmaterial}}</td>
          </tr>
          <tr>
            <th></th>
            <th>內板厚度：</th>
            <td>{{Tablespec.first_inthick}}</td>
            <th>內板材質：</th>
            <td>{{Tablespec.first_inmaterial}}</td>
            <th>螺絲配件：</th>
            <td>{{Tablespec.first_inother}}</td>
          </tr>
          <tr>
            <th></th>
            <th>外板厚度：</th>
            <td>{{Tablespec.first_outthick}}</td>
            <th>外板材質：</th>
            <td>{{Tablespec.first_outmaterial}}</td>
            <th>箱板材質：</th>
            <td>{{Tablespec.first_boxthick}}</td>
          </tr>
          <tr>
            <th colspan="10"> 二、維修門及箱體框架型式：</th>
          </tr>
          <tr>
            <th></th>
            <th>維修門方式：</th>
            <td>{{Tablespec.second_door}}</td>
            <th>箱體框架型式：</th>
            <td>{{Tablespec.second_frame}}</td>
          </tr>
          <tr>
            <th colspan="2">三、濾網：</th>
          </tr>
          <tr>
            <th>1.初級濾網：</th>
            <td colspan="3">{{Tablespec.third_basic}}</td>
          </tr>
          <tr>
            <th></th>
            <th>安裝方式：</th>
            <td>{{Tablespec.third_basic_install}}</td>
            <th>厚度：</th>
            <td>{{Tablespec.third_basic_thick}}</td>
            <th>廠牌：</th>
            <td>{{Tablespec.third_basic_brand}}</td>
          </tr>
          <tr>
            <th></th>
            <th>濾網框：</th>
            <td>{{Tablespec.third_basic_frame}}</td>
            <th>效率：</th>
            <td>{{Tablespec.third_basic_efficient}}&nbsp;比色法</td>
          </tr>
          <tr>
            <th></th>
            <th>濾材材質：</th>
            <td>{{Tablespec.third_basic_material}}</td>
          </tr>
          <tr>
            <th>2.中級濾網：</th>
            <td colspan="3">{{Tablespec.third_medium}}</td>
          </tr>
          <tr>
            <th></th>
            <th>外框型式：</th>
            <td>{{Tablespec.third_medium_frameform}}</td>
            <th>袋長：</th>
            <td>{{Tablespec.third_medium_long}}</td>
            <th>廠牌：</th>
            <td>{{Tablespec.third_medium_brand}}</td>
          </tr>
          <tr>
            <th></th>
            <th>濾網框：</th>
            <td>{{Tablespec.third_medium_frame}}</td>
            <th>效率：</th>
            <td>{{Tablespec.third_medium_efficient}}&nbsp;比色法</td>
          </tr>
          <tr>
            <th>3.高級濾網：</th>
            <td colspan="3">{{Tablespec.third_high}}</td>
          </tr>
          <tr>
            <th></th>
            <th>外框型式：</th>
            <td>{{Tablespec.third_high_frameform}}</td>
            <th>長度：</th>
            <td>{{Tablespec.third_high_long}}</td>
            <th>廠牌：</th>
            <td>{{Tablespec.third_high_brand}}</td>
          </tr>
          <tr>
            <th></th>
            <th>濾網框：</th>
            <td>{{Tablespec.third_high_frame}}</td>
            <th>效率：</th>
            <td>{{Tablespec.third_high_efficient}}&nbsp;D.O.P.</td>
          </tr>
          <tr>
          <tr>
            <th></th>
            <th>初中級框架材質：</th>
            <td>{{Tablespec.third_basic_medium_material}}</td>
            <th>高效框架材質：</th>
            <td>{{Tablespec.third_high_material}}</td>
          </tr>
          </tr>
           <tr>
            <th>四、電熱器：</th>
            <td colspan="3">{{Tablespec.four_heater}}</td>
          </tr>
          <tr>
            <th></th>
            <th>SSCR控制：</th>
            <td>{{Tablespec.four_SSCR}}</td>
            <th>分段方式：</th>
            <td>{{Tablespec.four_way}}</td>
            <th>框架材質：</th>
            <td>{{Tablespec.four_material}}</td>
          </tr>
          <tr>
            <th>五、加熱器：</th>
            <td>{{Tablespec.fiv_humidifier}}</td>
            <th>型式：</th>
            <td>{{Tablespec.fiv_form}}</td>
          </tr>
          <tr>
            <th>六、風門：</th>
            <td colspan="3">{{Tablespec.six_winddoor}}</td>
          </tr>
          <tr>
            <th></th>
            <th>型式：</th>
            <td>{{Tablespec.six_form}}</td>
            <th>邊框材質：</th>
            <td>{{Tablespec.six_frame_material}}</td>
            <th>葉片材質：</th>
            <td>{{Tablespec.six_blade_material}}</td>
          </tr>
          <tr>
            <th></th>
            <th>軸心：</th>
            <td>{{Tablespec.six_axis}}</td>
          </tr>
          <tr>
            <th colspan="2">七、盤管：</th>
          </tr>
          <tr>
            <th>1.冰水盤管</th>
            <td colspan="3">{{Tablespec.seven_cold}}</td>
          </tr>
          <tr>
            <th></th>
            <th>鰭片：</th>
            <td>{{Tablespec.seven_fins}}</td>
            <th>厚度：</th>
            <td>{{Tablespec.seven_thick}}</td>
            <th>端側板：</th>
            <td>{{Tablespec.seven_board}}</td>
          </tr>
          <tr>
            <th></th>
            <th>銅管厚度：</th>
            <td>{{Tablespec.seven_pipe_thick}}</td>
            <th>集水管：</th>
            <td>{{Tablespec.seven_waterpipe}}</td>
            <th>銅管管徑：</th>
            <td>{{Tablespec.seven_size}}</td>
          </tr>
          <tr>
            <th>2.熱水盤管</th>
            <td colspan="3">{{Tablespec.seven_hot}}</td>
          </tr>
          <tr>
            <th></th>
            <th>鰭片：</th>
            <td>{{Tablespec.seven_hotfins}}</td>
            <th>厚度：</th>
            <td>{{Tablespec.seven_hotthick}}</td>
            <th>端側板：</th>
            <td>{{Tablespec.seven_hotboard}}</td>
          </tr>
          <tr>
            <th></th>
            <th>銅管厚度：</th>
            <td>{{Tablespec.seven_hotpipe_thick}}</td>
            <th>集水管：</th>
            <td>{{Tablespec.seven_hotwaterpipe}}</td>
            <th>銅管管徑：</th>
            <td>{{Tablespec.seven_hotsize}}</td>
          </tr>
          <tr>
            <th>3.蒸氣盤管</th>
            <td colspan="3">{{Tablespec.seven_steam}}</td>
          </tr>
          <tr>
            <th></th>
            <th>鰭片：</th>
            <td>{{Tablespec.seven_steamfins}}</td>
            <th>厚度：</th>
            <td>{{Tablespec.seven_steamthick}}</td>
            <th>端側板：</th>
            <td>{{Tablespec.seven_steamboard}}</td>
          </tr>
          <tr>
            <th></th>
            <th>銅管厚度：</th>
            <td>{{Tablespec.seven_steampipe_thick}}</td>
            <th>集水管：</th>
            <td>{{Tablespec.seven_steamwaterpipe}}</td>
            <th>銅管管徑：</th>
            <td>{{Tablespec.seven_steamsize}}</td>
          </tr>
          <tr>
            <th>4.鹵水盤管</th>
            <td colspan="3">{{Tablespec.seven_brine}}</td>
          </tr>
          <tr>
            <th></th>
            <th>鰭片：</th>
            <td>{{Tablespec.seven_brinefins}}</td>
            <th>厚度：</th>
            <td>{{Tablespec.seven_brinethick}}</td>
            <th>端側板：</th>
            <td>{{Tablespec.seven_brineboard}}</td>
          </tr>
          <tr>
            <th></th>
            <th>銅管厚度：</th>
            <td>{{Tablespec.seven_brinepipe_thick}}</td>
            <th>集水管：</th>
            <td>{{Tablespec.seven_brinewaterpipe}}</td>
            <th>銅管管徑：</th>
            <td>{{Tablespec.seven_brinesize}}</td>
          </tr>
          <tr>
            <th>其他要求：</th>
            <td colspan="3">{{Tablespec.seven_other}}</td>
          </tr>
          <tr>
            <th>八、排水盤：</th>
            <th>材質：</th>
            <td>{{Tablespec.eight_material}}</td>
            <th>厚度：</th>
            <td>{{Tablespec.eight_thick}}</td>
          </tr>
          <tr>
            <th>九、風車：</th>
            <th>廠牌：</th>
            <td>{{Tablespec.nine_brand}}</td>
            <th>傳動方式：</th>
            <td>{{Tablespec.nine_way}}</td>
            <th>葉片型式：</th>
            <td>{{Tablespec.nine_form}}</td>
          </tr>
          <tr>
            <th>十、馬達：</th>
            <th>廠牌：</th>
            <td>{{Tablespec.ten_motor_brand}}</td>
            <th>絕緣等級：</th>
            <td>{{Tablespec.ten_motor_Insulation}}</td>
          </tr>
          <tr>
            <th></th>
            <th>馬達電源：</th>
            <td>{{Tablespec.ten_motor_elec}}</td>
            <th>馬達效率：</th>
            <td>{{Tablespec.ten_motor_efficient}}</td>
            <th>防護等級：</th>
            <td>{{Tablespec.ten_motor_level}}</td>
          </tr>
          <tr>
            <th></th>
            <th>啟動方式：</th>
            <td>{{Tablespec.ten_motor_open}}</td>
            <th>冷卻方式：</th>
            <td>{{Tablespec.ten_motor_cold}}</td>
            <th>馬達型式：</th>
            <td>{{Tablespec.ten_motor_form}}</td>
          </tr>
          <tr>
            <th></th>
            <th>其他要求：</th>
            <td>{{Tablespec.ten_motor_ask}}</td>
          </tr>
          <tr>
            <th>十一、配電箱：</th>
            <th>材質：</th>
            <td>{{Tablespec.eleven_material}}</td>
            <th>型式：</th>
            <td>{{Tablespec.eleven_form}}</td>
            <th>鎖：</th>
            <td>{{Tablespec.eleven_key}}</td>
          </tr>
          <tr>
            <th></th>
            <th>防護等級：</th>
            <td>{{Tablespec.eleven_level}}</td>
            <th>尺寸需求：</th>
            <td>{{Tablespec.eleven_size}}</td>
          </tr>
          <tr>
            <th>十二、配件：</th>
            <th>廠牌：</th>
            <td>{{Tablespec.twelve_brand}}</td>
          </tr>
          <tr>
            <th></th>
            <th>視窗：</th>
            <td>{{Tablespec.twelve_view}}</td>
            <th>壓差計：</th>
            <td>{{Tablespec.twelve_pressure}}</td>
            <th>刻度單位：</th>
            <td>{{Tablespec.twelve_unit}}</td>
          </tr>
          <tr>
            <th></th>
            <th>照明：</th>
            <td>{{Tablespec.twelve_light}}</td>
            <th>防護等級：</th>
            <td>{{Tablespec.twelve_level}}</td>
            <th>照明電源：</th>
            <td>{{Tablespec.twelve_light_elec}}</td>
          </tr>
          <tr>
            <th></th>
            <th>照明開關：</th>
            <td>{{Tablespec.twelve_light_open}}</td>
            <th>洩壓風門：</th>
            <td>{{Tablespec.twelve_winddoor}}</td>
            <th>底座材質：</th>
            <td>{{Tablespec.twelve_material}}</td>
          </tr>
          <tr>
            <th></th>
            <th>擴散網：</th>
            <td>{{Tablespec.twelve_net}}</td>
            <th>矽利康：</th>
            <td>{{Tablespec.twelve_silicone}}</td>
          </tr>
          <tr>
            <tr>
              <th></th>
              <th>空調箱放置地點：</th>
              <td>{{Tablespec.twelve_location}}</td>
              <th>屋頂：</th>
              <td>{{Tablespec.twelve_roof}}</td>
              <th>材質：</th>
              <td>{{Tablespec.twelve_newmaterial}}</td>
            </tr>
          </tr>
          <tr>
            <th></th>
            <th>廠驗：</th>
            <td>{{Tablespec.twelve_test}}</td>
          </tr>
          <tr>
            <th colspan="3">十三、交貨方式：{{Tablespec.thirteen_way}}</th>
            <th>新竹以北掉卡：</th>
            <td>{{Tablespec.thirteen_elevator}}</td>
          </tr>
          <tr>
            <th></th>
            <th>空調箱節箱：</th>
            <td>{{Tablespec.thirteen_box}}</td>
            <th>分箱進場：</th>
            <td>{{Tablespec.thirteen_into}}</td>
          </tr>
          <tr>
            <th></th>
            <th >空調箱外之避震：</th>
            <td>{{Tablespec.thirteen_shock}}</td>
            <th>避震器型式：</th>
            <td>{{Tablespec.thirteen_shocbox}}</td>
          </tr>
          <tr>
            <th></th>
            <th>氣密施作：</th>
            <td>{{Tablespec.thirteen_apply}}</td>
          </tr>
          <tr>
            <th></th>
            <th >空調箱固定：</th>
            <td>{{Tablespec.thirteen_fix}}</td>
            <th>結箱預算：</th>
            <td colspan="5">
              {{Tablespec.thirteen_budget}}
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">防位移型式：</th>
            <td>{{Tablespec.thirteen_displace}}</td>
            <th>固定方式：</th>
            <td>{{Tablespec.thirteen_fixway}}</td>
          </tr>
          <tr>
            <th colspan="3">十四、現場組裝：{{Tablespec.fourteen_ass}}</th>
            <th>組裝預算：</th>
            <td colspan="5">
              {{Tablespec.fourteen_budget}}
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">施工時間：</th>
            <td>{{Tablespec.fourteen_time}}</td>
          </tr>
          <tr>
            <th></th>
            <th >人員進場須知：</th>
            <td>{{Tablespec.fourteen_into}}</td>
            <th >日期時間：</th>
            <td>{{Tablespec.fourteen_intotime}}</td>
          </tr>
          <tr>
            <th></th>
            <th>當天上完課組裝：</th>
            <td>{{Tablespec.fourteen_afterass}}</td>
            <th >日期時間：</th>
            <td>{{Tablespec.fourteen_afterasstime}}</td>
          </tr>
          <tr>
            <th></th>
            <th>外籍人員可否進場：</th>
            <td>{{Tablespec.fourteen_foreigninto}}</td>
            <th >日期時間：</th>
            <td>{{Tablespec.fourteen_foreignintotime}}</td>
          </tr>
          <tr>
            <th></th>
            <th >六小時公安證件：</th>
            <td>{{Tablespec.fourteen_card}}</td>
            <th>工地意外保險：</th>
            <td>{{Tablespec.fourteen_insurance}}</td>
          </tr>
          <tr>
            <th colspan="5">十五、空調箱搬運空位：{{Tablespec.fifteen_location}}</th>
          </tr>
          <tr>
            <th></th>
            <th>水平搬運：</th>
            <td>{{Tablespec.fifteen_level}}</td>
          </tr>
          <tr>
            <th></th>
            <th>垂直搬運：</th>
            <td>{{Tablespec.fifteen_vertical}}</td>
          </tr>
          <tr>
            <th></th>
            <th>立式空調箱上箱段：</th>
            <td>{{Tablespec.fifteen_box}}</td>
          </tr>
          <tr>
            <th>十六、代課安裝：</th>
            <td>
              {{Tablespec.sixteen_install}}
            </td>
            <th>備料(欲採購)：</th>
            <td >
              {{Tablespec.sixteen_prepare}}
          </td>
          </tr>
           <tr>
            <th>十七、矽利康：</th>
            <td>
              {{Tablespec.seventeen_silicone}}
            </td>
            <th >品牌要求：</th>
            <td>{{Tablespec.seventeen_brand}}</td>
          </tr>
          <tr>
            <th>十八、其他：</th>
            <td colspan="7" style="white-space: pre-wrap;">{{Tablespec.eighteen_other|safe}}</td>
          </tr>    
        </tr>
        </table>
      </div>
    </div>
  </form>

  <script src="{% static 'jquery.min.js' %}"></script>
  <script>
    function outputpdf(event){
            var id = event.target.id
            $(location).attr("href","/render_pdf_view/"+id+'/');
        }



  </script> 

</body>
</html>